.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.title,
.content {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.modal button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.cancel-btn {
  background: #ccc;
  margin-top: 0.3rem;
}
