.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}
.dark-mode {
  background-color: black;
}

.dark-mode h1 {
  color: white;
}

.add-note-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #fef68a;
  color: black;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.add-note-btn:hover {
  background-color: #fff176;
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
